.wishlist {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin: 4rem auto;
  width: 90%;
  max-width: 1280px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h3 {
    font-size: 1.6rem;
    font-weight: 500;

    span {
      color: #db4444;
      font-weight: 600;
    }
  }
}

.moveAllBtn {
  padding: 0.6rem 1.2rem;
  background-color: #db4444;
  color: white;
  border-radius: 0.5rem;
  transition: 0.3s;

  &:hover {
    background-color: #db4444;
  }
}

.productsGrid {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
