@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: $background-light;
  color: $text-dark-gray;
  font-family: Arial, Helvetica, sans-serif;
}
.button {
  &-primary {
    background-color: $button-primary-blue;
    color: $primary-white;
  }

  &-success {
    background-color: $button-success-green;
    color: $primary-white;
  }

  &-danger {
    background-color: $button-danger-red;
    color: $primary-white;
  }
}

.header {
  background-color: $primary-red;
  color: $primary-white;
}

.footer {
  background-color: $background-dark;
  color: $text-light-gray;
}
