@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin container {
  margin: auto;
  width: calc(100% - padding-inline);
  @include for-small-phone {
    padding-inline: 2rem;
  }
  @include for-medium-phone {
    padding-inline: 4rem;
  }
  @include for-large-phone {
    padding-inline: 6rem;
  }
  @include for-tablet {
    padding-inline: 8rem;
  }
  @include for-desktop {
    padding-inline: 10rem;
  }
}

// to use it in the other file
// .container {
//   @include flex;
// }
