@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin container {
  margin: auto;
  width: 100%;
  @include for-small-phone {
    padding-inline: 0.8rem;
  }
  @include for-medium-phone {
    padding-inline: 1rem;
  }
  @include for-large-phone {
    padding-inline: 1.5rem;
  }
  @include for-tablet {
    padding-inline: 2.5rem;
  }
  @include for-desktop {
    padding-inline: 3.5rem;
  }
}

// to use it in the other file
// .container {
//   @include flex;
// }
