// font family
$font-family: "Poppins", sans-serif;

// fonts weights
$font-regular: 400;
$font-medium: 500;
$font-bold: 600;

// Primary Colors
$primary-red: #db4444;
$primary-black: #000000;
$primary-white: #ffffff;

// Secondary Colors
$secondary-light-gray: #f5f5f5;
$secondary-gray: #e5e5e5;

// Accent Colors
$accent-gold: #ffd700;
$accent-green: #00ff00;

// Text Colors
$text-primary: #fafafa;
$text-dark-gray: #333333;
$text-medium-gray: #666666;
$text-light-gray: #999999;

// Background Colors
$background-light: #f8f8f8;
$background-dark: #1e1e1e;

// Button Colors
$button-primary-blue: #007bff;
$button-success-green: #28a745;
$button-danger-red: #dc3545;
