.navbar {
  @include flex-between;
  @include container;
  @include for-small-phone {
    padding-inline: 0.5rem;
  }

  @include for-medium-phone {
    padding-inline: 1rem;
  }
  @include for-large-phone {
    padding-inline: 1rem;
  }

  @include for-tablet {
    padding-inline: 2rem;
  }
}

.navLinks {
  @include for-small-phone {
    
  }

  @include for-large-phone {
    display: flex;
  }

  @include for-tablet {
    
  }
}