@use "../variables" as *;
@use "../mediaquery" as *;

.navbar__container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  background-color: white;
  z-index: 100;

  // responsive padding
  @include for-small-phone {
    padding: 0.5rem;
  }
  @include for-medium-phone {
    padding: 1rem;
  }
  @include for-large-phone {
    padding: 1.5rem;
  }
  @include for-desktop {
    padding: 2rem;
  }
}

.flex_gap {
  display: flex;
  align-items: center;
  gap: 1rem;
  @include for-lg-screen {
    gap: 0.8rem;
  }
}
