@use "../variables" as *;
@use "../mediaquery" as *;

.navLinks {
  display: flex;
  flex: none;

  @include for-lg-tailwind {
    flex: 1;
    width: 100%;
  }
  @include for-desktop {
    padding-inline: 2rem;
  }
  
}

.navList {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
  @include for-small-phone {
    font-size: 0.875rem; // text-sm
  }
  @include for-medium-phone {
    font-size: 0.875rem; // text-sm
  }
  @include for-large-phone {
    font-size: 0.875rem; // text-sm
  }
  @include for-tablet {
    font-size: 0.875rem; // text-sm
  }
  @include for-desktop {
    font-size: 1rem;
  }
  @include for-lg-tailwind {
    font-size: 1rem;
  }
  @include for-lg-tailwind {
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    font-size: 1.2rem;
  }
  
}

.navLink {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  position: relative;
  transition: color 0.2s ease-in-out;
  color: #000000;
  text-decoration: none;

  &:hover {
    color: #b91c1c;
  }
}

.active {
  color: #b91c1c;
}

.underline {
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  background-color: #b91c1c;
  width: 0;
  transition: width 0.3s ease-in-out;
}

.navLink:hover .underline {
  width: 100%;
}

.underlineActive {
  width: 100%;
}
