@media (max-width: 915px) {
  .contactBody {
    flex-direction: column;
  }
  .sideBar {
    place-self: center;
    width: max-content;
  }
  .contactForm {
    width: 450px;
    place-self: center;
  }
  .formik-field {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .sideBar {
    width: 400px;
  }
  .contactForm {
    width: 400px;
  }
}
@media (max-width: 405px) {
  .sideBar {
    width: 270px;
  }
  .contactForm {
    width: 270px;
  }
}
